# .gitignore para projetos .NET (FreightManagement)

### Core build results ###
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Ob]j/
[Ll]og/
[Ll]ogs/

### .NET Core ###
project.lock.json
project.fragment.lock.json
artifacts/

### User file and settings ###
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

### VS Code ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json